body {
  background: #161415 url(images/green.jpg) no-repeat center center fixed;
  background-size: cover; 
  -webkit-background-size: cover;

}

/*Title and description */
#myh1 {
  color: white;
  text-align: center;
  font-size: 78px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 900;
  text-shadow: 0px 0px 3px #000;
  padding-top: 250px;
}

#myp1 {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 900;
  text-shadow: 0px 0px 3px #000;
  padding-top: 30px;
}

/* Navigation bar */

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}


/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
  text-decoration: none;
   text-align: left;
   color: #fff;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* Dropdown Button */
.dropdown {
  text-align: center;
  padding-top: 60px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}
 /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:inline-block;}   

#countdown-holder {
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

/* About section */
#about {
   padding-top: 100px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 25px/30px; 
   color: white;
   margin-bottom: 20px;
}
#about p {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 18px/24px; 
   padding-right: 3%;
   color: white;
}

#about .container {
    max-width: 1100px;
    width: 92%;
    margin: 0px auto;
    position: relative;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
* {
  margin: 0;
  padding: 0;
}


#contact .container {
  width: 500px;
  margin: 25px auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  padding-top: 70px;
}

form {
  padding: 15px;
  background: #2c3e50;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input  {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
  height: 30px;
  line-height: 30px;
  background: #e67e22;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

form .error {
  color: #ff0000;
}