    body {
        background-color: lightblue;
    }

    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 4em;
    }


.secondBgColor {
    background-color: #c4e3ed;
}

    .subheader {
        font-family: 'Crimson Text', serif;
        font-size: 1.1em;
    }

    /*Dropdown*/

    .dropdown-selector-placement{
        width: 70%;
        margin:0 auto;
    }


    .divPositionClass{ 
        width: 150px;
        margin:0 auto;
    }

    .breed_button_placement { 
        width: 150px;
        margin:0 auto;
        /*padding-bottom: 10px;*/
    }



    .divButtonClass, .divButtonClass2 { 
        background-color: #739900;
        padding: 20px;
        text-align: center;
        font-family: Verdana;
        color: white;
    }

    .divButtonClass:hover {background-color: #608000}
    .divButtonClass2:hover {background-color: #608000}

        /*Dropdown content*/

    .dropdown-content1, .dropdown-content2 {
        display: none;
        position: relative;
        /*position: absolute;
        float: left;*/
        background-color: #f9f9f9;
        width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content1 a, .dropdown-content2 a {
        color: #3d3d29;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: Verdana;
        font-size: 0.8em;
        text-align: center;
    }

                /*Dropdown content states*/
    .dropdown-content1 a:hover {background-color: #f1f1f1}
    .dropdown-content2 a:hover {background-color: #f1f1f1}

    /*.divPositionClass:hover .dropdown-content {
        display: block;
    }*/
    .show {
        display:block;
    }


                /*Dropdown content style*/
    /*.dropdown_animal{
        color: #3d3d29;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: Verdana;
        font-size: 0.8em;
        text-align: center;
    }

    .dropdown_animal:hover {
            color: #3d3d29;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: Verdana;
        font-size: 0.8em;
        text-align: center;
    }*/


    .image_display_selection {
        width: 150px;
        margin:0 auto;
        display:none;
    }


    .breeding_result {
        width: 200px;
        margin:0 auto;
    }

    .centerDivClass {
        position: relative;
        left: 50%;
        margin-left: -75px;
        height: 300px;
    }

    .animalDisplayDiv {
        position: relative; 
        display: none;
        left: 0; 
        top: 0;
        width: 200px;
    }


    .showAnimal {
        display:block;
    }

    .h3class {
        display: inline-block;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        float: none;
    }

    .resultimage {
        position: absolute;
          width: 150px;
          
    }

    .random_body  {
        z-index: 0;
    }
    .random_head  {
       z-index: 1;
    }

    .reloadButton {
        margin-top: 40px;
        display:none;
        margin:0 auto;
    }

     .breedButtonDisplay {
        display:none;
    }
    .breedButtonShow {
        display:block;
    }


.center_placement { 
        margin:0 auto;
        /*padding-bottom: 10px;*/
    }

.chart{
        width:240px;
        height:240px;
        margin:0 auto;
        display:none;
    }

.chart_show{
     display:block;
}
