body {
     background-image: url("../img/IMG_6833.jpg");
     font-style: italic;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    font-size: 25px;

    background-size: 200%;

}

.link

{
    color:black;
}

.btn
{
    background-color: papayawhip;
    color: black;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;


}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: papayawhip;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: papayawhip;
     background-color: transparent;
    min-width: 60px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 10px;

 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 5px 5px;
    
    display: block;
  size: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: transparent;
color: blue;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}