.translation {
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
	padding: 1em;
}
.translation p {
	display: none;
	font-size: 50px;
	margin: 0;
}


.translation img {
	display: none;
	border: 1px solid black;
	width: 100%;
	margin: auto;
}

.shown {
	display: block !important; 
}