
#img2 {
    display: none;
    width: 100%;
} 


#par3 {
    display: none;
}

#img3 {
    width: 100%;
}

#img4 {
    width: 100%;
}

#img1 {
   width: 50%;
   display: block;
   margin: auto;
}
.imgLanding {
    position: relative;
}

.c1 {
    text-align: center;
    padding: 50px;
}


.menu {
    background-color: #4CAF50;
    margin-top: -20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 60px;

}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 99999;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 0px;
    width: calc(100% - 30px);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.box {
    background-color: pink;
    padding: 20px;
}

.button {
    background-color: white;
    color: pink;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 60px;
}

.button:hover {
    background-color: #4CAF50;
}

.about {
    padding: 20px;
}

.box2 {
    background-color: #4CAF50;
    margin-top: 40px;
    padding: 40px;
}



.cvbutton {
    font-family: verdana 20px;
    color: #4CAF50;
    background-color: white;
    padding: 20px 80px;
}
/* links */

.part2 {
     padding-top: 40px;
}

/* cover picture */

.header {
  background-image: url("../img/sarna/b1.jpg");
  background-color: pink;
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

h1 {
    color: white;
    font-family: Georgia;
    font-size: 80px;
    text-align: center;
    position: relative;
    padding-top: 10%;
}

.coverText{
    padding: 10px;
}

h3 {
    color: white;
    font-family: verdana;
    text-align: center;
}



/* change color button container */

.coverBox {
    padding-top: 40px;
    padding-bottom: 6px;
}

#b1 {
    background-color: #4CAF50;
    border: none;
    padding: 6px 20px;
    width: 20%;
    height: 40px;
    color: white;

}

.input{
    background-color: white;
    border: none;
    width: 70%;
    height: 40px;
}


#p2 {
    font-size: 10pt; 
    color: white; 
    font-family: verdana, sans-serif;
    text-align: center;
    padding: 20px;

}

