body {
	background-color: rgba(43, 43, 43, 0.8);
}
.headText {
	color:#000;
	font-size: 25px;
	font-weight: bold;
}

 body {
    text-align: center;
    margin: auto;
}
img {
	width: auto;

}
.mybutton{

}
h1 {
	color: #000;
} 
h3 {
	color:#000;
	font-size: 25px;
    font-weight: bold;
}
p {
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0.5px;
}
img {
background:no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.navbar-inverse .navbar-collapse {
	color: #cc0099;
} 

.image {
	width: 700px;
	height: 500px;
}

.navbar {
	margin-bottom:0px;
}