@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
    background-image: url('../img/yanita/berlin3.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 800px;
}

h1 {

  font-size:50px; color: white; text-shadow: 0 0 2px black;
}

p {
  font-size:20px; color: white;text-shadow: 0 0 2px black;
}

.col-sm-6 {
font-size:20px; 
color: white;
text-shadow: 0 0 2px black

}
.dropdown{
  width:100px;
  margin:auto;
}
